{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="album py-5 bg-light">
    <h2 class="text-center pb-3">{{ title }}</h2>
    <div class="container">
        
        <div class="pb-3">
            <span class="next p-1">
                <a type="button" class="btn btn-secondary" rel="next" href="{{ path(route_name, {category, 'weight': 'light'}) }}">Сначала легкие</a>
            </span>
            <span class="next p-1">
                <a type="button" class="btn btn-secondary" rel="next" href="{{ path(route_name, {category, 'weight': 'hight'}) }}">Сначала тяжелые</a>
            </span>

            <form action="" method="get">
                <div class="pt-3 pb-3">
                    <select class="form-select" id="country" required="" name="category">
                        <option value="">Выберите категорию</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <span class="pt-6">
                    <button type="submit" class="btn btn-secondary">Выбрать</button>
                </span>
            </form>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for product in products %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h1>{{ product.name }}</h1>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p class="btn-sm border">{{ product.category }}</p>
                            </div>
                            <small class="text-muted">
                                {% if product.weight % 1000 == 0 %}
                                    {{ product.weight / 1000 }} кг
                                {% else %}
                                    {{ product.weight }} гр
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="pt-5">
            {{ knp_pagination_render(products, 'index/paginator.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
